<form class="modal fade" id="<%= ID %>" tabindex="-1" data-backdrop="static" aria-labelledby="<%= ID %>Label"
      aria-hidden="true">
    <link rel='stylesheet' href="/stylesheets/modal.css" />
    <script src="/javascripts/components/modal.js" type="module"></script>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="<%= ID %>Label"><%= title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if (addingJob) { %>
                    <div class="form-group">
                        <label>Job Name</label>
                        <input type="text" class="form-control" name="job_name" placeholder="Infiltrate Church"/>
                    </div>
                <% } %>
                <% // Image Details %>
                <h5>Enter Image Details</h5>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="image_title" placeholder="Title"/>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="image_description" rows="3"></textarea>
                </div>

                <% //Input selector %>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-for="image-source" data-type="url">URL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-for="image-source" data-type="upload">Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-for="image-source" data-type="camera">Camera</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div data-for="url" class="d-block">
                            <input type="text" class="form-control" data-name="url" placeholder="https://via.placeholder.com/150"/>
                            <img class="w-100 mt-2 d-none rounded" alt="Image Preview" src="#"/>
                            <div class="w-100 mt-2 d-none error-box text-center alert alert-danger">
                                Invalid URL
                            </div>
                        </div>
                        <div data-for="upload" class="d-none">
                            <input type="file" class="form-control-file" data-name="upload"/>
                            <img class="w-100 mt-2 d-none rounded" alt="Image Preview" src="#"/>
                            <div class="w-100 mt-2 d-none error-box text-center alert alert-danger">
                                Invalid File
                            </div>
                        </div>
                        <div data-for="camera" class="d-none">
                            <video class="w-100 rounded" autoplay playsinline data-name="camera"></video>
                            <div class="w-100 error-box text-center alert alert-danger">
                                Camera is not available
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit"><%= submitText %></button>
            </div>
        </div>
    </div>
</form>