<form onsubmit="nextJob()" class="modal fade" id="<%= ID %>" tabindex="-1" data-backdrop="static" aria-labelledby="<%= ID %>Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="<%= ID %>Label"><%= title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if (addingJob) { %>
                <div class="form-group">
                    <label for="inputJobName">Job Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Inspect the Church">
                </div>
                <% } %>
                <h5>Enter Image Details</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAuthor">Author</label>
                        <input type="text" class="form-control" name="author" placeholder="John Smith">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="useImageURL" name="customRadioInline1" class="custom-control-input" checked>
                    <label class="custom-control-label" for="useImageURL">Use Image URL</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="useImageUpload" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="useImageUpload">Upload Image</label>
                </div>
                <div class="form-group d-block" id="inputImageURLGroup">
                    <label for="inputImageURL">Image URL</label>
                    <input type="text" class="form-control" id="inputImageURL" name="url" placeholder="Inspect the Church">
                </div>
                <div class="form-group d-none" id="inputImageUploadGroup">
                    <label for="inputImageUpload">Image Upload</label>
                    <input type="file" class="form-control-file" id="inputImageUpload" name="upload">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit"><%= submitText %></button>
            </div>
        </div>
    </div>
</form>
<script src="/javascripts/components/modal.js"></script>